body {
  background-color: black;
  background-image: url(img/solar-huge-orange.png);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 1030px;
}

header.page-header {
  margin: auto;
  padding: 0px;
  border: none;
}
header.page-header h1 {
  margin-bottom: 10px;
}
header.page-header small {
  font-size: 18px;
  font-style: italic;
  margin-left: 18px;
}
header>section {
  background-color: white;
  border-bottom: 2px solid lightgray;
}

main {
  margin: auto;
}

section {
  background-color: white;
  display: table;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1000px;
  padding: 25px;
}

main h4 {
  margin-bottom: 25px;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

figure.well {
  max-width: 800px;
  padding: 45px 0px 45px 15px;
  margin-bottom: 35px;
}

figure h2 {
  font-variant: small-caps;
}

figure.glass {
  background-image: url(img/all_the_glasses.png);
  background-repeat: no-repeat;
  background-position-x: right;
}

section>h2 {
  border-bottom: 1px solid lightgray;
  margin: 45px 0px 15px -10px;
}